[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.booproj
*.pyc
venv/
.env/
.venv/
.pytest_cache/
.DS_store
.mypy_cache/
.coverage/
htmlcov/
*.log
*.db